client/node_modules/*
client/yarn.lock
client/public/dist/*
client/public/fonts/*
client/public/img/ready
client22/*
server/assets/*
server/db/playground/*
node_modules
yarn.lock
package-lock.json
server/tensor/Model/
