client/node_modules/
client/public/dist/*
client/public/fonts/*
client/public/img/ready
client/public/img/gallery
assets/*
!/assets/samples/
node_modules
__pycache__
log.log
.idea
cv_worker/data.pickle