// Main View
@mixin mainImg($opacity) {
  background-image: -webkit-linear-gradient(
      to bottom,
      rgba(0, 0, 0, $opacity),
      rgba(0, 0, 0, $opacity)
    ),
    url("/img/network.jpg");
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, $opacity),
      rgba(0, 0, 0, $opacity)
    ),
    url("/img/network.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header {
  @include mainImg(0.85);
  height: 70vh;
}

.content {
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

%column-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  @extend %column-flex-center;
  align-items: center;
  width: 100%;
  height: 100%;
  h1 {
    background-image: linear-gradient(
      to right, 
      rgb(247,237,15),
      rgb(230,30,15),
      rgb(145,5,130),
      rgb(3,171,196),
      rgb(8,123,214),
      rgb(1,189,7),
      rgb(1,81,72),
      rgb(109,130,135),
      rgb(91,53,32),
      rgb(20,10,10)
    );
    -webkit-background-clip: text;
    color: transparent;
  }
  h2 {
    @include respond(tab-port) {
      display: none;
    }
  }
}

footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  font-size: 12px;
  margin: 5px;
}

a {
  color: $uploadBorder;
}