// Main View
@mixin mainImg($opacity) {
  background-image: -webkit-linear-gradient(
      to bottom,
      rgba(0, 0, 0, $opacity),
      rgba(0, 0, 0, 1)
    ),
    url("/img/network.jpg");
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, $opacity),
      rgba(0, 0, 0, 1)
    ),
    url("/img/network.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header {
  @include mainImg(0.4);
  height: 70vh;
}

.content {
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

@media (max-width: $breakpoint) {
  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 14px;
    max-width: 250px;
  }
}

%column-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  @extend %column-flex-center;
  min-width: 200px;
  width: 100%;
  height: 100%;
  padding-left: 50px;
}

footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  font-size: 12px;
  margin: 5px;
}

a {
  color: $uploadBorder;
}