.ReactModalPortal>div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  border: 5px dashed $uploadBorder;
  color: $white;
  max-width: 30rem;
  outline: none;
  padding: $m-size;
  text-align: center;
  border-radius: $m-size;
}

.modal__title {
  color: $dark-gray;
  margin: 0 0 $m-size 0;
}

.modal__content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 $m-size;
  color: $light-gray;
}

.modal__content:last-child {
  margin-left: $m-size;
}

.modal__body {
  font-size: 2rem;
  font-weight: 500; 
  margin: 0 0 $l-size 0;
  // word-break: break-all;
}

.modal__button {
  background: darken($uploadBorder, 20%);
  border-radius: $s-size;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: 300;
  padding: $s-size;
  float: right;
  min-width: 70px;
}

.modal__button:hover{
  background-color: darken($uploadBorder, 10%)
}